p {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}
.item {
  font-weight: bold;
  font-size: 34px;
}
.excercises {
  font-size: 14px;
}
.underlined {
  text-decoration: underline;
}